.body {
  flex: 0.8;
  height: 100vh;
  color: #fff;
  padding: 30px;
  overflow-y: overlay;
  background: linear-gradient(rgb(91, 87, 115), rgba(0, 0, 0, 1));

  &::-webkit-scrollbar {
    display: none;
  }

  .body__songs {
    margin: 20px -30px;
  }
}
