.footer {
  position: fixed;
  bottom: 0;
  height: 80px;
  width: 100%;
  background-color: #282828;
  padding: 20px;
  display: flex;
  justify-content: space-between;

  .footer__left {
    flex: 0.3;
    display: flex;
    align-items: center;
    color: #fff;
    width: 300px;

    .footer__albumLogo {
      height: 60px;
      width: 60px;
      object-fit: contain;
      margin-right: 20px;
    }
    .footer__songInfo {
      h4 {
        margin-bottom: 5px;
      }
      p {
        font-size: 12px;
      }
    }
  }

  .footer__center {
    flex: 0.4;
    padding: 0 100px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 400px;
  }

  .footer__right {
    flex: 0.3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;

    .MuiSlider-root {
      color: #1ed15e;
    }
  }

  .footer__icon {
    transition: transform 0.2s ease-in-out;
  }

  .footer__green {
    color: #1ed15e;
    transition: transform 0.2s ease-in-out;
  }

  .footer__icon:hover,
  .footer__green:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.1) !important;
  }
}
