.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;

  .header__left {
    flex: 0.5;
    min-width: 70px;
    background-color: #fff;
    color: grey;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 10px;

    input {
      border: none;
      width: 100%;
    }
  }

  .header__right {
    display: flex;
    align-items: center;

    h4 {
      margin-left: 10px;
    }
  }
}
