.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;

  .header__left {
    flex: 0.5;
    min-width: 70px;
    background-color: #fff;
    color: grey;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 10px;

    form {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      input {
        border: none;
        width: 100%;
        height: 30px;
        outline-width: 0;
      }

      button {
        background: #1ed15e;
        outline: none;
        border: none;
        color: #fff;
        padding: 10px;
        border-radius: 99px;
        font-size: 1rem;
        cursor: pointer;
      }
    }
  }

  .header__right {
    display: flex;
    align-items: center;

    h4 {
      margin-left: 10px;
    }
  }
}
