.recentPlayed {
  margin-left: 20px;

  h2 {
    font-size: 48px;
    margin-bottom: 10px;
  }

  .recentPlayed__container {
    margin-left: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: #fff;

    .recentPlayed__card {
      display: flex;
      margin: 10px 0;
      align-items: center;

      &:hover {
        cursor: pointer;
        background-color: #000;
        opacity: 0.8;
      }
      .recentPlayed__cardImage {
        height: 40px;
        width: 40px;
        object-fit: contain;
        margin-right: 30px;
      }

      h4 {
        flex: 1;
      }
      p {
        flex: 2;
      }

      .body__icons {
        flex: 1;
        display: flex;
        justify-content: space-around;
        transition: all 200ms ease-in;
      }
    }
  }
}
