.searchedRow {
  margin-left: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  color: #fff;

  &:hover {
    cursor: pointer;
    background-color: #000;
    opacity: 0.8;
  }

  .searchedRow__image {
    height: 40px;
    width: 40px;
    object-fit: contain;
  }

  .searchedRow__info {
    margin-left: 20px;

    p {
      font-size: 14px;
      margin-top: 3px;
      color: grey;
    }
  }
}
