.sidebarOption {
  color: grey;
  height: 40px;
  cursor: pointer;
  transition: 200ms color ease-in;
  display: flex;

  &:hover {
    color: #fff;
  }

  .sidebarOption__icon {
    margin: 0 10px;
  }

  p {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 14px;
  }
}
