.sidebar {
  height: 100vh;
  flex: 0.2;
  color: #fff;
  min-width: 230px;
  background-color: #040404;
  padding: 0 10px;

  .sidebar__logo {
    object-fit: contain;
    height: 70px;
    padding: 10px;
    margin-right: auto;
  }
}
